<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Passion+One|Permanent+Marker|Secular+One" rel="stylesheet">

<div class="shadow-lg p-3 mb-5 rounded">
  <h1>
    Welcome to {{ title }}!
  </h1>
<h2 >Here are some Beers #prost</h2>
</div>

<!---<button class="btn btn-success">New random set</button>-->
<div class="card" style="width: 35rem;">
  <div class="card-body">
    <h5 class="card-title">{{beers?.data.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{beers?.data.style.category.name}}</h6>
    <p class="card-text">{{beers?.data.style.description}}</p>
    <button type="button" class="btn btn-danger" (click)="getBeers1()">Next Beer</button>
    <button type="button" class="btn btn-success">Save</button>
  </div>
 </div>

 <div class="footer">
    <p>Footer "API"</p>
  </div>
